target/
*.class
*.jar
*.war
*.log
*.tmp
*.dump
*.sql
.mvn/
!**/src/main/**/mvn/
!**/src/test/**/mvn/
mvnw
mvnw.cmd
.idea/
*.iml
*.iws
*.ipr
out/
*.swp
test-output/
surefire-reports/
.vscode/
.env
.DS_Store
*.bak
build/
!**/src/main/**/build/
!**/src/test/**/build/